<ion-header>
  <ion-toolbar>
    <ion-title>Host Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let exp of listOfExperiences" (click)="selectExp(exp)" class="ion-align-items-center">
      <ion-col size="2"><ion-thumbnail><img src="https://i.imgur.com/2hocHvd.jpg"></ion-thumbnail></ion-col>
      <ion-col size="9">
        <ion-grid>
          <ion-row>
            <ion-col><b>{{exp.title}}</b></ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{exp.address}}</ion-col>
            <ion-col>Active: {{exp.active}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
          <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- <ion-list>
  <ion-item *ngFor="let exp of listOfExperiences" (click)="selectExp(exp)"><ion-thumbnail><img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"></ion-thumbnail> {{exp.title}}</ion-item>
</ion-list> -->
</ion-content>
