<ion-header>
  <ion-toolbar>
    <ion-title>Booking Confirmation</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Experience Title</ion-label>
      {{title}}
    </ion-item>
    <ion-item>
      <ion-label>Number of People</ion-label>
      <ion-input style="text-align: right;" min="1" type="number" [(ngModel)]="numOfPeople" (ngModelChange)="updateTotalPrice()" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Price</ion-label>
      $ {{price}}
    </ion-item>
    <ion-item>
      <ion-label>Total Price</ion-label>
      $ {{totalPrice}}
    </ion-item>
  </ion-list>
  <ion-button style="margin-top:20px" expand="block" (click)="confirm()">Confirm Booking</ion-button>
  <div style="color:red;">
    {{errorMessage}}
  </div>
</ion-content>
