<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input [(ngModel)]="username" required=true></ion-input>
    </ion-item>
    <ion-item style="margin-block-end:20px;">
      <ion-label >Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" required=true></ion-input>
    </ion-item>
    
    <ion-button expand="block" (click)="login()">Login</ion-button>

  </ion-list>
</ion-content>
