<ion-header>
  <ion-toolbar>
    <ion-title>Guest List</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let b of bookings">
      <ion-label>{{b.guest.firstName}} {{b.guest.lastName}}</ion-label>
      <ion-label slot="end" style="text-align: end; vertical-align: center;">
        <ion-grid>
          <ion-row style="align-items:center;">
            <ion-col>{{b.numberOfPeople}} <ion-icon name="people"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
      <ion-button *ngIf="!b.userEvaluated" slot="end" (click)="evaluateGuest(b.guest.userId, b.bookingId)">
        Evaluate
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
