<ion-header>
  <ion-toolbar>
    <ion-title>Create Your Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input [(ngModel)]="title" style="text-align: right;" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Address</ion-label>
      <ion-input [(ngModel)]="address" style="text-align: right;" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select placeholder="Category" [(ngModel)]="category">
          <ion-select-option *ngFor="let cat of categoryLs" value="{{cat.categoryId}}">{{cat.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select placeholder="Type" [(ngModel)]="type">
          <ion-select-option *ngFor="let cat of typeLs" value="{{cat.typeId}}">{{cat.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Location</ion-label>
      <ion-select placeholder="Location" [(ngModel)]="location">
        <ion-select-option *ngFor="let cat of locationLs" value="{{cat.locationId}}">{{cat.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Language</ion-label>
      <ion-select placeholder="Language" [(ngModel)]="language">
          <ion-select-option *ngFor="let cat of languageLs" value="{{cat.languageId}}">{{cat.name}}</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="createExperience()">Submit</ion-button>
  <br/>
  <ion-label style="color:red;">{{errorMessage}}</ion-label>
</ion-content>
