<ion-header>
    <ion-toolbar>
      <ion-title>EvaluateExperience</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-range min="0" max="5" [(ngModel)]="score">
          <ion-icon size="small" slot="start" name="thumbs-down"></ion-icon>
           <ion-icon slot="end" name="thumbs-up"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Enter remarks here..." [(ngModel)]="remark" type="text" rows="6"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="submit()">Submit</ion-button>
  </ion-content>
